@model IEnumerable<MvcDemoDavi.Models.usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Datos registrados</h2>
<div>
    @Html.ActionLink("Ver usuarios", "listarusu")
</div>
<div>
    @Html.ActionLink("Crear usuario", "Guardar")
</div>


